<footer>
  <div class="footer-content">
    <p class="footer-text">Khaled KHEBBEB &copy; <%= Time.now.year %> - Powered with</p>
    <%= image_tag('ruby_logo.png', id: 'footer_logo', alt: 'Ruby Logo', class: 'footer-logo') %>
  </div>
</footer>
