<header>
  <div class="header-content">
    <h1 class="header-text">Fotrune Teller</h1>
    <%# <%= image_tag('main_logo.png', id: 'header_logo', alt: 'Predictions Logo', class: 'header-logo') %>
  </div>
</header>
