/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Reset some default margin and padding */
html,
body {
  margin: 0;
  padding: 0;
}

/* Center the content horizontally and vertically */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Make the content take up the full viewport height */
  padding: 20px; /* Add some padding */
}

/*********
 * FORMS *
 *********/
/* Style the form */
form {
  min-width: 50vh;
  max-width: 500px; /* Set a max width for the form */
  padding: 20px; /* Add padding to the form */
  border: 1px solid #ccc; /* Add a border for visual separation */
  border-radius: 8px; /* Add border radius for rounded corners */
  background-color: #f9f9f9; /* Add background color */
}

/* Style form inputs */
label {
  display: block;
  margin-bottom: 10px; /* Add spacing between labels */
}

input[type="text"],
input[type="number"],
select {
  width: 100%; /* Make inputs take up full width */
  padding: 10px; /* Add padding to inputs */
  margin-bottom: 20px; /* Add spacing between inputs */
  border: 1px solid #ccc; /* Add a border for visual separation */
  border-radius: 4px; /* Add border radius for rounded corners */
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

/***************
* PREDICTIONS *
***************/
.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.prediction-container {
  background-color: #f1f1f1; /* Epic background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.rating-buttons {
  text-align: center;
  margin-top: 20px;
}

.rating-buttons form {
  display: flex; /* Use flexbox to align buttons horizontally */
  justify-content: center; /* Center the buttons horizontally */
}

.rating-buttons form button {
  margin: 0 10px; /* Add space between the buttons */
}
/***********
 * BUTTONS *
 ***********/

.rating-buttons form button[type="submit"],
input[type="submit"] {
  width: 100%; /* Make submit button take up full width */
  padding: 10px; /* Add padding to button */
  background-color: #007bff; /* Set background color */
  color: #fff; /* Set text color */
  border: none; /* Remove border */
  border-radius: 4px; /* Add border radius for rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/*********************
* FOOTER AND HEADER *
*********************/
/* Center the header horizontally */
header {
  text-align: center;
  padding: 20px; /* Add some padding for spacing */
}

/* Center the footer horizontally */
footer {
  text-align: center;
  padding: 20px; /* Add some padding for spacing */
}

/* Center header and footer content */
.header-content,
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style header text */
.header-text {
  margin-right: 20px; /* Add spacing between text and logo */
}

/* Style footer text */
.footer-text {
  margin-left: 20px; /* Add spacing between text and logo */
}

/* Style logos */
.header-logo {
  width: 50px;
}

.footer-logo {
  width: 70px;
  padding-left: 20px;
}

/*********
 * ERROR *
 *********/
#error-banner {
  display: none;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ff6347; /* Red color */
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

#error-banner.show {
  display: block;
}
