/*********************
* FOOTER AND HEADER *
*********************/
/* Center the header horizontally */
header {
  align-content: center;
  padding: 20px; /* Add some padding for spacing */
  font-family: "Mystery Quest", system-ui;
  font-size: xx-large;
  color: antiquewhite;
  text-shadow: rgb(7, 7, 6) 1px 0 10px;
}

/* Center the footer horizontally */
footer {
  text-align: center;
  padding: 20px; /* Add some padding for spacing */
  background-color: rgba(
    205,
    205,
    205,
    0.5
  ); /* Black background color with 50% opacity */
}

/* Center header and footer content */
.header-content,
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style header text */
.header-textzzz {
  margin-right: 20px; /* Add spacing between text and logo */
}

/* Style footer text */
.footer-text {
  margin-left: 20px; /* Add spacing between text and logo */
}

/* Style logos */
.header-logozzzz {
  width: 50px;
}

.footer-logo {
  width: 70px;
  padding-left: 20px;
}
