/*********
* HEADER *
**********/
/* Center the header horizontally */
header {
  align-content: center;
  padding: 20px; /* Add some padding for spacing */
  font-family: "Mystery Quest", system-ui;
  font-size: xx-large;
  color: antiquewhite;
  text-shadow: rgb(7, 7, 6) 1px 0 10px;
}

/* Style header text */
/* .header-text {
  margin-right: 20px; 
} */

/* Style logos */
/* .header-logo {
  width: 50px;
} */

/***********
  * FOOTER  *
  ***********/

/* Center the footer horizontally */
footer {
  text-align: center;
  padding: 20px; /* Add some padding for spacing */
  background-color: rgba(
    205,
    205,
    205,
    0.5
  ); /* Black background color with 50% opacity */
}

/* Style footer text */
.footer-text {
  margin-left: 20px; /* Add spacing between text and logo */
}
.footer-logo {
  width: 80px;
  padding-left: 10px;
}

/*******************
 * HEADER & FOOTER *
 *******************/

/* Center header and footer content */
.header-content,
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
