/********
 * LIST *
 ********/
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

table th,
table td {
  padding: 12px;
  text-align: left;
}

table th {
  background-color: rgb(239, 203, 155);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

table td {
  background-color: rgb(249, 243, 236);
  border-bottom: 1px solid #ddd;
}

table td:first-child {
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 10px;
}

table td:last-child {
  border-right: 1px solid #ddd;
  border-bottom-right-radius: 10px;
}

/**************
 * PAGINATION *
 **************/

/* Pagination container */
.pagination {
  text-align: center;
  margin-top: 5px;
}

/* Pagination links */
.pagination a,
.pagination span,
.pagination .current {
  display: inline-block;
  padding: 6px 12px;
  margin: 0 3px;
  border-radius: 20px;
  color: #333;
  text-decoration: none;
}

.pagination a {
  border: 1px solid #ccc;
  background-color: antiquewhite;
}
.pagination .current {
  border: 3px;
  background-color: rgb(239, 203, 155);
}

/* Previous and next buttons */
.pagination .previous,
.pagination .next {
  background-color: #f0f0f0;
  color: #333;
}

/* Disabled buttons */
.pagination .disabled {
  opacity: 0.6;
}
